h1
{
	color:#3D3E3F;
	text-align: center;
	border-bottom: 5px solid #071B2D;
	text-shadow: 2px 2px white;
	font-family: "Veranda", "Geneva", "Helvetica", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-indent
}

h2
{
	color:#071B2D;
	font-family: "Veranda", "Geneva", "Helvetica", sans-serif;
}

a
{
	color:red;
}

body
{
	color: 3D3E3F;
	background-color: 3D3E3F;
	border-bottom: 5px solid #071B2D;
}

p
{
	font: normal normal 1.2em Arial, Helvetica, sans-serif; 

}