h1
{
	color:#3D3E3F;
	text-align: center;
	border-bottom: 5px double #071B2D;
	text-shadow: 2px 2px white;
	font-family: "Veranda", "Geneva", "Helvetica", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 10px;
}

h2
{
	color:#071B2D;
	font-family: "Veranda", "Geneva", "Helvetica", sans-serif;
	margin-top:5px;
	margin-bottom:5px;
}

a
{
	color: red;
}

body
{
	color: #3D3E3F;
	background-color: 3D3E3F;
	border-bottom: 5px solid #071B2D;
	background-image: url(images/whitecararaslab01.jpg);
	padding-bottom: 15px;
}

p 
{
	font: normal normal 1.2em Arial, Helvetica, sans-serif; 
	padding: 13px;
	margin: 5px;
}

p em 
{
	color: firebrick;
}

img
{
	vertical-align: middle;
	border: 3px solid #071B2D;
}

ul
{
	list-style-type: circle;
	list-style-position: outside;
}

nav
{
	background-color: #071B2D;
	line-height:20px;
	text-align:center;
}

nav li
{
	display: inline;
	padding-right: 40px;
}

nav a 
{
	color:white;
	text-decoration: none;
}

nav a:hover
{
	color:red;
	text-decoration:underline;
}

iframe
{
	border: 3px solid #071B2D;
}